:root {
    /* color pallet */
    --bright-orange: #F0A500;
    --light-navyblue: #334756;
    --dark-navyblue: #082032;
    --black: #232323;

    /* color palet 2 */
    --navy: #1A374D;
    --blue: #406882;
    --light-blue: #6998AB;
    --neutral-color: #B1D0E0;

    /* font  */
}